.input_signup {
  .input_signup_txt {
    margin-bottom: 10px !important;
  }

  .input_area {
    margin: 10px 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      width: 100%;
      max-width: 368px;
      background: transparent;
      color: #ddd;
      border: 1px solid #fff;
      height: 56px;
      font-size: 18px;
      padding: 5px 10px;
      margin-right: 5px;
      border-radius: 5px;

      &:focus {
        outline: none;
      }
    }

    button {
      background-color: #E50914;
      width: 206px;
      height: 56px;
      border: none;
      color: #fff;
      padding: 12px 24px;
      font-size: 22px;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: rgba($color: #E50914, $alpha: .7);
      }
    }

    @media only screen and (max-width: 590px){
      input {
        max-width: 250px;
        height: 36px;
        font-size: 16px;
      }

      button {
        width: 150px;
        height: 36px;
        padding: 5px 10px;
        font-size: 16px;
      }
    }
  }
}