.asked_question_section {
  background-color: #000;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .asked_question_content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 5%;
    text-align: center;

    h2 {
      font-size: 40px;
    }
  }
}