@font-face {
  font-family: 'netflixSansRegular';
  src: url('./assets/fonts/NetflixSans-Regular.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'netflixSansRegular', sans-serif;
  transition: all ease-in 0.2s;
}

html, body {
  width: 100%;
  min-height: 380px;
  height: 100vh;
}

a {
  text-decoration: none;
}

ul, li{ list-style-type: none;}

img { width: 100%; }




